{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
   },
   "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true,
   },
   "rules": {
    "no-console": 2,
    "new-cap": [2, {"capIsNewExceptions": ["Radium"]}],
    "max-len": [2, 120, 4, {"ignoreUrls": true}],
   }
}
