---
layout: default
title: "Lawrence's Bookshelf"
permalink: /bookshelf/
---

<div class="home">
  <h1>Bookshelf</h1>
  <p>
    Trying to develop a reading habit, starting today (June 27, 2020).
  </p>
  <br />
  <h2>Queued</h2>
  <ol>
    {% for book in site.data.books.queued %}
    <li>
      <a href="{{ book.link }}">{{ book.name }}</a> by {{ book.author }}
    </li>
    <br />
    {% endfor %}
  </ol>
  <h2>Finished</h2>
  <ul>
    {% for book in site.data.books.read %}
    <li>
      <a href="{{ book.link }}">{{ book.name }}</a> by {{ book.author }}
      <ul>
        <li>Completed: {{ book.completed | date: '%B %d, %Y' }}</li>
        <li><a href="/{{ book.reflection_permalink }}" target="_blank">Reflection</a></li>
      </ul>
    </li>
    <br />
    {% endfor %}
  </ul>
</div>
