---
layout: default
---

<div class="home">
  <p>
    My name is Lawrence and welcome to my site.
  </p>

  <p>
    I call San Francisco my home now. Before that, I was in Canada. Outside of work,
    I enjoy building things, reading, riding my bike (for fun and for getting around),
    deep-diving into local and national politics, backpacking in the mountains, and many
    more!
  </p>

  <br/>

  <p>
    Lastly, here are some of my public blog posts. I do not write publicly
    regularly, though I do enjoy writing and write often (private journals /
    docs at work).
  </p>

  <div class="writing">

    <ul class="post-list">
      {% for post in site.posts %}

      {% if post.useful %}
      <li>
        <span class="post-meta">{{ post.date | date: "%Y-%m-%d" }}</span>

        <span class="post-link">
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </span>
      </li>
      {% endif %}

      {% endfor %}
    </ul>

    <p>
      View <a href="/archive">archive</a> for more.
    </p>
  </div>
</div>
