---
layout: default
---

<div class="home">
  <p>
    My name is Lawrence and welcome to my site!
  </p>

  <p>
    I would love to be helpful to you. The best way to reach out to me is
    <a href="mailto:lawrencefeipan@gmail.com">via email</a>. I check my inbox
    daily and will get back to you as soon as I can.
  </p>

  <div class="writing">
    <h2>Writing</h2>
    <ul class="post-list">
      {% for post in site.posts %}

      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
      {% if post.useful and posttime > "1598832000" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span>

        <br class="post-break">

        <span class="post-link">
          <span>&rArr;</span>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </span>
      </li>
      {% endif %}
      {% endfor %}
    </ul>

    <h4 class="divider">&#8595; written during my college time &#8595;</h4>

    <ul class="post-list">
      {% for post in site.posts %}

      {% capture posttime %}{{post.date | date: '%s'}}{% endcapture %}
      {% if post.useful and posttime < "1598832000" %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %d, %Y" }}</span>

        <br class="post-break">

        <span class="post-link">
          <span>&rArr;</span>
          <a href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </span>
      </li>
      {% endif %}

      {% endfor %}
    </ul>

    <p>
      View <a href="/archive">archive</a> for more.
    </p>
  </div>
</div>
