---
layout: page
title: Résumé
permalink: /resume/
---

<div class="resume">

  <h1>Experience</h1>

  {% for exp in site.data.resume.experiences %}

    <div class="resume-exp-wrapper">

      <p>{{ exp.duration[0] }} &#8213; {{ exp.duration[1] }}</p>

      <p>{{ exp.name }}</p>

      <p>{{ exp.position }}</p>

      <p>{{ exp.location }}</p>

      <ul>
        {% for summary in exp.summaries %}
          <li>{{ summary }}</li>
        {% endfor %}
      </ul>

    </div>

  {% endfor %}

</div>
