@import url("animate.min.css");

.page-enter {
  animation: slideInRight .5s ease-in;
}

.page-enter.page-enter-active {
  opacity: 1;
}

.page-leave {
  animation: zoomOut .5s ease-in;
}

.page-leave.page-leave-active {
  opacity: 0;
}
