@import url(https://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
@import url("flexboxgrid.min.css");
@import url("animations/page.css");
@import url("handButton.css");

html, body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: 'Patrick Hand SC', cursive;
  width: auto !important;
  height: 100%;
  overflow-x: hidden !important;
}

body {
  font-size: x-large;
}

@media (max-width: 1800px) {
  body {
    font-size: large;
  }
}

@media (max-width: 500px) {
  body {
    font-size: medium;
  }
}
