.hand-drawn-button {
  background: transparent;
  padding: 0.5em;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  letter-spacing: 1px;
  outline: none;
  box-shadow: 20px 38px 34px -26px rgba(0, 0, 0, 0.2);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: solid 0.5vw #41403E;
}

.hand-drawn-button:hover {
  box-shadow: 2px 8px 4px -6px rgba(0, 0, 0, 0.3);
}
