/**
 * Site header
 */
.header-wrapper {
  @extend .wrapper;

  $header-spacing: $spacing-unit * 2;
  margin-top: $header-spacing;

  @include media-query($on-palm) {
    margin-top: $spacing-unit;
  }
}

.header-main {
  margin: 0;
}

/**
 * Site footer
 */
.footer-wrapper {
  @extend .wrapper;
  margin-bottom: $spacing-unit;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: inline-block;
      padding-right: 8px;

      .username {
        color: $grey-color-dark;
        position: relative;
      }

      a:hover {
        text-decoration: none;

        .username {
          color: $brand-color;
        }

        svg > path {
          fill: $brand-color;
        }
      }
    }
  }

  .footer-addition {
    font-size: $small-font-size;

    a {
      font-style: italic;
    }
  }
}

/**
 * Page content
 */
.home-page-content {
  padding: $spacing-unit / 2 $spacing-unit / 2 $spacing-unit $spacing-unit / 2;
}

.page-content {
  padding: $spacing-unit 0;
}

.home > p {
  text-align: justify;
}

.home > .writing {
  margin-top: $spacing-unit;
  @include media-query($on-palm) {
  }

  h2 {
    margin-top: $spacing-unit;
  }

  p {
    margin: $spacing-unit * 1.5 $spacing-unit / 2;
  }
}

.post-list {
  list-style: none;

  margin-left: $spacing-unit / 2;
  @include media-query($on-palm) {
    margin-left: 0;
  }

  > li {
    display: grid;
    grid-template-columns: $spacing-unit * 4 $spacing-unit * 12;
    margin-bottom: $spacing-unit / 2;

    @include media-query($on-palm) {
      grid-template-columns: 30vw 55vw;
      // Using vw to better display on phones with various sizes
      // grid-template-columns: $spacing-unit * 3.5 $spacing-unit * 6.5;
    }

    .post-link {
      display: inline-block;

      @include media-query($on-palm) {
        margin-left: $spacing-unit / 2;
      }
    }
  }
}


/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    font-size: 20px;
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 24px;
    padding-top: $spacing-unit / 2;
    margin-bottom: -1 * $spacing-unit / 2;

    @include media-query($on-laptop) {
      font-size: 20px;
    }
  }

  h2 {
    font-size: 32px;

    @include media-query($on-laptop) {
      font-size: 28px;
    }
  }

  h3 {
    font-size: 26px;

    @include media-query($on-laptop) {
      font-size: 22px;
    }
  }

  h4 {
    font-size: 20px;

    @include media-query($on-laptop) {
      font-size: 18px;
    }
  }

  p {
    text-align: justify;
    margin-top: $spacing-unit;
  }
}
